@font-face {
	font-family:'OPPOSans-B';
	src: url('OPPOSans-B.ttf');
	font-weight: normal;  
	font-style: normal;
}
@font-face {
	font-family:'OPPOSans-H';
	src: url('OPPOSans-H.ttf');
	font-weight: normal;  
	font-style: normal;
}
@font-face {
	font-family:'OPPOSans-L';
	src: url('OPPOSans-L.ttf');
	font-weight: normal;  
	font-style: normal;
}
@font-face {
	font-family:'OPPOSans-M';
	src: url('OPPOSans-M.ttf');
	font-weight: normal;  
	font-style: normal;
}
@font-face {
	font-family:'OPPOSans-R';
	src: url('OPPOSans-R.ttf');
	font-weight: normal;  
	font-style: normal;
}